.card-content {
  width: 250px;
  height: 406px;
  margin: 7px;
}

.card-content:hover {
  transform: translateY(-3px);
  transition: 0.5s;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

img {
  object-fit: scale-down;
  object-fit: contain;
  height: 280px;
  width: 100%;
  border-bottom: solid 1px rgb(235, 235, 235);
}

mat-card-title {
  font-weight: 400;
}

p {
  font-size: 12px;
}

.plots {
  font-size: 11px;
  font-weight: 600;
  color: rgb(26, 192, 26);
  margin-left: 25px;
}
