mat-toolbar {
    background-color: black;
}

input {
  height: 70%;
  width: 30%;
  border-radius: 50px;
  border: none;
  outline: none;
  padding: 1rem;
}

.person {
  height: 35px;
  width: 35px;
  display: inline-flex;
  border: 1px solid #fff;
  border-radius: 50px;
}

.perfil {
  border-radius: 50px;
  background-repeat: no-repeat;
  background-size: cover;

}

