mat-card {
    margin: auto;
    width: 85%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1%;
    justify-content: space-around;
}

.success {
    background-color: #4CAF50;
    color: white;
}

.cancel {
    color: #607D8B;
}


.fields {
    width: 48%;
}

.box-slides {
    width: 100%;
    display: flex;
}

.box-slide {
    width: 50%;
    padding: 2%;
}

.textarea {
    width: 98%;
}

.box-buttons {
    width: 98%;
    display: flex;
}

.box-button {
    width: 50%;
}

button {
    width: 100%;
}
