<app-nav-bar></app-nav-bar>
<mat-card class="mat-elevation-z0">
    <mat-form-field class="fields" appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="instrument.name">
    </mat-form-field>

        <mat-form-field class="fields" appearance="outline"> 
        <mat-label>Marca</mat-label>
        <input matInput [(ngModel)]="instrument.brand">
    </mat-form-field>

    <mat-form-field class="fields" appearance="outline">
        <mat-label>Categorias</mat-label>
        <mat-select [(ngModel)]="instrument.category">
            <mat-option *ngFor="let category of categories" [value]="category">
                {{category}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="fields" appearance="outline">
        <mat-label>Ano</mat-label>
        <input matInput [(ngModel)]="instrument.year">
    </mat-form-field>

    <mat-form-field class="fields" appearance="outline">
        <mat-label>Cor</mat-label>
        <input matInput [(ngModel)]="instrument.color">
    </mat-form-field>

    <mat-form-field class="fields" appearance="outline">
        <mat-label>Origem</mat-label>
        <input matInput [(ngModel)]="instrument.from">
    </mat-form-field>
    <div class="box-slides">
        <div class="box-slide">
            <mat-slide-toggle [(ngModel)]="instrument.delivery" color="primary">Pronta Entrega?</mat-slide-toggle>
        </div>
        <div class="box-slide">
            <mat-slide-toggle [(ngModel)]="instrument.isUsed" color="primary">Usado ?</mat-slide-toggle>
        </div>
    </div>

    <mat-form-field class="fields" appearance="outline">
        <mat-label>Valor</mat-label>
        <input matInput [(ngModel)]="instrument.price">
    </mat-form-field>

    <mat-form-field class="fields" appearance="outline">
        <mat-label>Parcelas</mat-label>
        <input matInput [(ngModel)]="instrument.plots">
    </mat-form-field>

    <mat-form-field class="fields" appearance="outline">
        <mat-label>Imagem Principal</mat-label>
        <mat-icon matSuffix>photo</mat-icon>
        <input matInput [(ngModel)]="instrument.picture">
    </mat-form-field>

    <mat-form-field class="fields" appearance="outline">
        <mat-label>Imagens</mat-label>
        <mat-icon matSuffix>photo</mat-icon>
        <input matInput>
    </mat-form-field>

    <mat-form-field class="textarea" appearance="outline">
        <mat-label>Descrição</mat-label>
        <textarea matInput [(ngModel)]="instrument.description"></textarea>
    </mat-form-field>
    <div class="box-buttons">
        <div class="box-button">
            <button mat-flat-button class="success" (click)="save(this.instrument)">Salvar</button>
        </div>
        <div style="width: 1%"></div>
        <div class="box-button">
            <button mat-stroked-button class="cancel">Cancelar</button>
        </div>
    </div>
</mat-card>