<app-nav-bar></app-nav-bar>
<mat-card class="mat-elevation-z0">

    <div class="box-filters">
        <mat-card-title style="font-size: 20px; font-weight: 500; margin-top: 10px;">Filtro de Produtos</mat-card-title>
        <app-filters-list></app-filters-list>
    </div>

    <div class="box-instruments">
      <app-instrument-card></app-instrument-card>
      <app-instrument-card></app-instrument-card>
      <app-instrument-card></app-instrument-card>
      <app-instrument-card></app-instrument-card>
      <app-instrument-card></app-instrument-card>
      <app-instrument-card></app-instrument-card>
    </div>
</mat-card>
