<app-nav-bar [search]="true"></app-nav-bar>

<mat-card class="mat-elevation-z0">
  <div class="box-filters">
    <mat-card-title style="font-size: 20px; font-weight: 500; margin-top: 10px;">Filtro de Produtos</mat-card-title>
    <app-filters-list></app-filters-list>
  </div>

  <mat-divider [vertical]="true"></mat-divider>

  <div class="box-instruments">
    <div *ngFor="let instrument of instruments">
      <app-instrument-card [instrument]="instrument"></app-instrument-card>
    </div>
  </div>
</mat-card>
