<app-nav-bar></app-nav-bar>

<mat-card class="mat-elevation-z0">
    <mat-card-title>Carrinho de compras</mat-card-title>
    <div class="box-container">
        <div class="box-content-list">
            <div class="box-list">
                <div class="box-list-img">
                    <img class="img" src="https://http2.mlstatic.com/D_NQ_NP_694537-MLA32641205414_102019-O.jpg" alt="amplificador" srcset="">
                </div>
                <div class="box-list-title">
                    <p>Amplificador Fender Frontman 212R</p>
                    <mat-card-title>R$ 2.500,00</mat-card-title>
                </div>
            </div>
        
            <div class="box-list">
                <div class="box-list-img">
                    <img class="img" src="https://m.media-amazon.com/images/I/71aTbbJS3TL._AC_SL1500_.jpg" alt="amplificador" srcset="">
                </div>
                <div class="box-list-title">
                    <p>Guitarra Stratocaster Fender</p>
                    <mat-card-title>R$ 12.500,00</mat-card-title>
                </div>
            </div>
        
            <div class="box-list">
                <div class="box-list-img">
                    <img class="img" src="https://produtos.egitana.pt/_60103dc1e209a.jpg" alt="amplificador" srcset="">
                </div>
                <div class="box-list-title">
                    <p>Pedaleira Boss GT-1000</p>
                    <mat-card-title>R$ 4.500,00</mat-card-title>
                </div>
            </div>
        </div>
        
        <div class="box-content-total">
            <mat-card-title>Total: R$ 20.00,00</mat-card-title>
        </div>
    </div>

</mat-card>
