<app-nav-bar></app-nav-bar>
<mat-card class="mat-elevation-z0">

    <div class="box-filters">
        <mat-card-title style="font-size: 20px; font-weight: 500; margin-top: 10px;">Filtro de Produtos</mat-card-title>
        
        <mat-form-field appearance="outline">
            <mat-label>O que você procura ?</mat-label>
            <mat-icon matSuffix>search</mat-icon>
            <input matInput [(ngModel)]="instrument.price">
        </mat-form-field>

        <mat-action-list>
            <button mat-list-item *ngFor="let filterInstrument of filterInstruments">{{ filterInstrument.text }}</button>
        </mat-action-list>
    </div>
    <div class="box-instruments">
        <div *ngFor="let instrument of instruments">
            <a [routerLink]=[instrument.id]>
            <mat-card class="card-content mat-elevation-z0">
                <mat-card-content>
                    <img src="{{ instrument.picture }}" alt="instrument">
                    <p>{{ instrument.name }}</p>
                    <mat-card-title>{{ instrument.price }}</mat-card-title>
                    <p class="plots">em até {{ instrument.plots }}</p>
                </mat-card-content>
            </mat-card>
        </a>
        </div>
    </div>
</mat-card>
